body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1170px;
    margin: 5% auto;
}

.wrapper img {
    width: 19%;
    float: left;
    margin: 5px;
}

.img-one:hover {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    transition: .7s ease;
}

.img-three:hover {
    -webkit-filter: contrast(4);
    filter: contrast(4);
    transition: .7s ease;
}

.img-six:hover {
    -webkit-filter: saturate(7);
    filter: saturate(7);
    transition: .7s ease;
}

.img-five:hover {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    transition: .7s ease;
}

.img-four:hover {
    -webkit-filter: invert(.8);
    filter: invert(.8);
    transition: .7s ease;
}

.img-eight:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .7s ease;
}
.img-two:hover {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition: .7s ease;
}
.img-ten:hover {
    -webkit-filter: contrast(200%) brightness(150%);
    filter: contrast(200%) brightness(150%);
    transition: .7s ease;
}
.img-seven:hover {
    -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
    transition: .7s ease;
}
.img-nine:hover {
   animation: change 4s infinite;
}

@keyframes change {
    0% {
        -webkit-filter: sepia(0) saturate(2);
        filter:sepia(0) saturate(2);
    }

    50% {
        -webkit-filter: sepia(1) saturate(4);
        filter:sepia(1) saturate(4);
    }

    100% {
        -webkit-filter: sepia(0) saturate(2);
        filter:sepia(0) saturate(2);
    }
}